{% extends "navbar.html" %}
{% block body %}
<div class="bg">
    <div id = "recipes-container" class='container'>
        <div class="row">
            <div class=''>
                
                {% if not recipes %}
                    <div id="form1_wrap">
                        <form class="form-recipes-search form-signin" action="{{ url_for('view_recipes') }}" method="post">
                          
                            <div class="row">
                                <h4>What's for dinner?</h4>
                                <div id="recipe_search_select" >
                                    <p>How do you you want to search for recipes?</p>
                                        <label for="start_option"><span></span> Show me recipes by:</label>
                                        <select class="search_select" name="start_option" id="start_option">
                                            <option value="Ingredient">Ingredient</option>
                                            <option value="Collection">Collection</option>
                                            <option value="Keyword">Keyword</option>
                                            <option value="Total_Time">Total Time</option>
                                            <option value="Skill_Level">Skill Level</option>
                                            <option value="Rating">Most Popular</option>
                                        </select>
                                    <div class="twelve columns">
                                        <input id="next" class="btn" type="button" value="Next"> 
                                    </div>
                                </div>

                                <div id="recipe_search_container" class="no_ml">
                                    <!-- <p>Enter value.</p> -->
                                    <div id="recipe_ingredient_input" >
                                            <label for="build_option"><span></span> Enter one or more ingredients separated by a comma:</label>
                                        <div class="twelve columns">
                                            <textarea name ="build_option" class="" type="text" placeholder="Ingredient 1" id="build_option" rows="10"></textarea>
                                        </div>
                                    </div>

                                    <div id="recipe_search_text_input" >
                                            <label for="search_option"><span></span> Enter a search term for the collection or keyword:</label>
                                        <div class="twelve columns">
                                            <input name ="search_option" class="" type="search" placeholder="Search" id="search_option">
                                        </div>
                                    </div>

                                    <div id="recipe_category_input">
                                          <label for="cat_option"><span></span> Select a value for the category:</label>
                                        <div class="twelve columns">
                                          <select class="" name="cat_option" id="cat_option"> </select>
                                        </div>
                                    </div>

                                    <div id="controls" class="twelve columns">   
                                        <input id="previous" class="button-primary " type="button" value="Previous"> 
                                        <input id="form1_submit" class="btn" type="submit" value="Submit"> 
                                    </div>
                                </div>
                               
                            </div>

                            </div>
                        </form>
                    </div>

                {% else %}
                <div class="row">
                    {% if page == 'similar' %}
                        <h4>Similar recipes</h4>
                    {% elif page == 'profile' %}
                        <h4>My Recipes</h4>
                    {% else %}
                        <h4>Search Results</h4>
                    {% endif %}
                </div>

                <div id="form2_wrap">
                    <form class="form-recipes-search" action="{{ url_for('view_recipes') }}" method="post">
                        <div class="pager row contents">
                            <div class="ten columns">
                                <i class="fas fa-backward first"></i>
                                <i class="fas fa-angle-left prev"></i>
                                <span class="pagedisplay"></span> <!-- text output -->
                                <i class="fas fa-angle-right next"></i>
                                <i class="fas fa-forward last"></i>
                            </div>
                            <div class="two columns">
                                <p>Start Over <a href="{{ url_for('view_recipes') }}"><i class="fas fa-times-circle"></i></a> </p>
                            </div>
                        </div>
                    </form>
                </div>

                <table id='table' class="tablesorter table-recipes">
                      <thead>
                        <tr>
                          <th>Recipe</th>
                          <th>Cooking Time</th>
                          <th>Prep Time</th>
                          <th>Skill Level</th>
                          <th>Likes</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if recipes %}
                            {% for row in recipes %}
                                <tr>
                                  <td><a href="{{ url_for('view_recipe_detail', recipe_id=row.id) }}">{{ row.title }}</a><br></td>
                                  <td>{{ row.cooking_time }}</td>
                                  <td>{{ row.prep_time }}</td>
                                  <td>{{ row.skill_level }}</td>
                                  <td>{{ row.ratings }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>

                {% endif %}

            </div>
        </div>
    </div>
</div>
<script type="text/javascript"src="{{ url_for('static', filename='table.js') }}"></script>

   
{% endblock %}


